<div class="cart">
  <div class="cart__block">
    <div class="cart__close">
      <img src="img/icons/close.svg" alt="Закрити">
    </div>
    <div class="cart__title">Кошик</div>
    <div class="cart__content"></div>
    <div class="cart__total">
      <span class="cart__total-title">Всього</span>
      <div class="cart__total-row">
        <span class="cart__total-row-span">Кількість товару:</span>
        <span class="cart__total-row-span-number">0 шт.</span>
      </div>
      <div class="cart__total-row">
        <span class="cart__total-row-span">На суму:</span>
        <span class="cart__total-row-span-sum">0.00 грн.</span>
      </div>
      <span class="cart__total-row"></span>
      <button class="cart__btn _btn" type="submit">Оформити замовлення</button>
      <button class="cart__btn _btn" type="submit" data-cart="clear">
        <img src="img/icons/trash-alt-solid.svg" alt="">
        <span>Очистити кошик</span>
      </button>
    </div>
  </div>
</div>