<div class="footer">
  <div class="container">

    <div class="footer-col__wrapper">

      <div class="footer-col">
        <div class="footer-title">
          <h4>Про нас</h4>
        </div>
        <div class="footer-text">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem hic ratione quis inventore molestiae!
            Enim cum iure, autem fugit dolorem nemo in delectus amet aperiam deserunt ipsum repellendus numquam
            incidunt.</p>
        </div>
        <div class="footer-logo__wrapper">
          <a href="index.html" class="logo" title="Домашній текстиль">
            <img src="./img/logo/logo.jpg" alt="Домашній текстиль" title="Домашній текстиль">
          </a>
        </div>
      </div>

      <div class="footer-col">
        <div class="footer-title">
          <h4>Слідкуйте за нами</h4>
        </div>
        <div class="footer-text">
          <div class="footer-social__wrapper">
            <a class="footer-social-icon" href="#" title="Домашній текстиль у facebook" target="_blank">
              <img src="img/icons/facebook-square-brands.svg" alt="facebook">
            </a>
          </div>
        </div>
      </div>

      <div class="footer-col">
        <div class="footer-title">
          <h4>Меню</h4>
        </div>
        <div class="footer-text">
          <ul>
            <li><a href="index.html" title="Головна">Головна</a></li>
            <li><a href="store.html" title="Домашній текстиль">Постільна білизна</a> </li>
            <li><a href="home.html#contact" title="Контакти">Інформація</a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="up-btn">
      <a href="#top" title="Нагору"><img src="img/icons/arrow-square-up.svg" alt=""></a>
    </div>

    <div class="copy">
      <p>Домашній текстиль</p>
    </div>

    <div class="mobile-block">
      <a href="tg://resolve?domain=svityaz_centr" class="mobile-block__item telegram" title="telegram">
        <img class="mobile-block__item-img" src="img/icons/telegram-plane-brands.svg" alt="telegram">
      </a>

      <a href="whatsapp://send?phone=+380682345254" class="mobile-block__item whatsapp" title="watsapp">
        <img class="mobile-block__item-img" src="img/icons/watsapp.svg" alt="watsapp">
      </a>

      <a href="viber://chat?number=380682345254" class="mobile-block__item viber" title="viber">
        <img class="mobile-block__item-img" src="img/icons/viber.svg" alt="viber">
      </a>

      <a href="tel:+380682345254" class="mobile-block__item call" title="Зателефонувати">
        <img class="mobile-block__item-img" src="img/icons/call.svg" alt="call">
      </a>
    </div>

  </div>
</div>