
  <div class="container">
    <div class="header__top">
      <div class="header__top-item">
        <a class="header__top-item-tel text-hover" href="tel:0966546196">(096) 65 46 196</a>
      </div>
      <div class="header__top-item">
        <a class="header__top-item-img-block" href="#">
          <img src="img/logo/logo.jpg" alt="">
        </a>
      </div>
      <div class="header__top-item">
        <button class="header__top-btn">
          <span data-cart="topSum"></span>
          <img src="img/icons/cart.svg" alt="">
        </button>
      </div>
    </div>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="index.html" class="nav__item-link">Головна</a></li>
        <li class="nav__item"><a href="#" class="nav__item-link">Постільна білизна</a></li>
        <li class="nav__item"><a href="#" class="nav__item-link">Інформація</a></li>
      </ul>
    </nav>

  </div>
