<div class="modal">
  <div class="modal__block">
    <div class="modal__close">
      <img src="img/icons/close.svg" alt="Закрити">
    </div>
    <div class="modal__content">

      <table class="modal__size-table">
        <tr class="modal__size-table-row">
          <th class="modal__size-table-col">Назва</th>
          <th class="modal__size-table-col">Підковдра </th>
          <th class="modal__size-table-col">Простирадло </th>
        </tr>
        <tr class="modal__size-table-row">
          <td class="modal__size-table-col">Півтораспальний </td>
          <td class="modal__size-table-col">150х215</td>
          <td class="modal__size-table-col">150х220</td>
        </tr>
        <tr class="modal__size-table-row">
          <td class="modal__size-table-col">Двоспальний </td>
          <td class="modal__size-table-col">180х215</td>
          <td class="modal__size-table-col">200х220</td>
        </tr>
        <tr class="modal__size-table-row">
          <td class="modal__size-table-col">Євро </td>
          <td class="modal__size-table-col">200х215</td>
          <td class="modal__size-table-col">240х220</td>
        </tr>
        <tr class="modal__size-table-row">
          <td class="modal__size-table-col">Сімейний </td>
          <td class="modal__size-table-col">150х215</td>
          <td class="modal__size-table-col">240х220</td>
        </tr>
      </table>

    </div>

  </div>
</div>