							<div class="card new" data-cart="productItem">
								<div class="card__inner">
									<div class="card__img-block">
										<a class="card__img-link" href="product.html" data-cart="linkPath">
											<img class="card__img" src="img/product/prod01/3-mid.jpg" alt="" data-cart="img">
										</a>
									</div>
									<div class="card__content">
										<a href="product.html" class="card__title _card-title" data-cart="productTitle">КОМПЛЕКТ ПОСТІЛЬНОЇ
											БІЛИЗНИ, <span class="product__title-size"  data-cart="productСloth">бязь</span> (<span class="product__title-size"  data-cart="productSize">півтораспальний</span>)</a>
										<div class="card__price" data-cart="productPrice">550 <span>грн</span></div>
										<div class="card__availability">В наявності</div>

										<!-- hidden elements -->

										<div class="card__hidden" data-cart="productNumber">1</div>
										<select class="card__hidden" name="select" id="select" data-cart="productSizeNavolochka">
											<option value="70*70" selected>70 * 70</option>
											<option value="50*70">50 * 70</option>
										</select>

										<!-- hidden elements -->

									</div>
									<div class="card__btn-wrapper">
										<button class="card__btn _btn" data-cart="addBtn">
											До кошика
										</button>
									</div>
								</div>
							</div>