.order {}

.order__block {
  &+& {
    margin-top: 50px;
  }

  &:nth-child(2) {
    display: flex;
    justify-content: space-between;
  }

  &:nth-child(3) {
    .order__block-item {
      width: 100%;
    }
  }
}

.order__list {}

.order__table {
  border-collapse: collapse;
  width: 100%;
}

.order__table-head {
  background-color: $backgroundColor;
  border: 1px solid rgb(208, 208, 208);

  th {
    padding: 10px;
    min-width: 150px;

    &.order__table-del {
      min-width: 35px;
    }
  }
}

.order__table-photo {
  display: block;

  img {
    width: 90px;
    height: 90px;
  }
}

.order__table-name {}

.order__table-quantity {}

.order__table-price {}

.order__table-sum {}

.order__btn-del {
  width: 15px;
  background: transparent;

  img {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}


.order__table-body {
  tr {
    border: 1px solid rgb(208, 208, 208);

  }

  td {
    text-align: center;
    padding: 10px;
  }
}

.order__table-qty {
  .product__quantity {
    margin: 0 auto;
  }
}

.cart__content-number {}

.product__quantity {}

.product__quantity-minus {}

.product__quantity-number {}

.product__quantity-plus {}

.order__total {
  margin-top: 20px;
  text-align: right;
  font-weight: 700;
}









.order__block-item {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.order__title {
  display: flex;
  align-items: center;
  background-color: $backgroundColor;
  border: 1px solid rgb(208, 208, 208);
  padding: 10px;
  font-weight: 600;
  margin-bottom: 10px;

  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.order__input {
  border: 1px solid rgb(208, 208, 208);
  padding: 5px;

  &+& {
    margin-top: 10px;
  }
}

.order__radio {
  cursor: pointer;
}

.order__input-label {
  cursor: pointer;
  display: flex;
  align-items: center;

  &+& {
    margin-top: 10px;
  }

  span {
    margin-left: 10px;
  }
}

.order__block-item {}

.order__delivery-var {
  padding-top: 20px;
}

.order__select {
  border: 1px solid rgb(208, 208, 208);
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.order__texarea {
  margin-top: 10px;
  border: 1px solid rgb(208, 208, 208);
  padding: 5px;
  width: 100%;
  resize: none;
}

.order__btn {
  margin-top: 30px;
}


.order__select-block {
  display: flex;
  flex-direction: column;
}
.order__pay-features-wrapper {
  background-color: rgb(255, 220, 154);
  border-radius: 5px;
  border: 1px solid #007AFF ;
  padding: 10px;
  margin-top: 20px;
  line-height: 1.2;
}