.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(56, 141, 242);
  background: radial-gradient(circle, rgba(56, 141, 242, 1) 25%, rgba(29, 69, 131, 1) 100%);
}

.cta__title {}

._cta-title {
  @include adaptiv-font(25, 18);
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 30px;

  &.black {
    color: #000000;
  }

  &.white {
    color: #ffffff;
  }
}

._cta-sub-title {
  @include adaptiv-font(18, 12);
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;

  &.black {
    color: #000000;
  }

  &.white {
    color: #ffffff;
  }
}

.cta__input-wrapper {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.cta__input {
  border-radius: 5px;
  height: 35px;
  width: 270px;
  padding: 0 10px;

  @media (min-width: 768px) {
    width: 400px;
  }
}

.cta__btn {
  position: absolute;
  width: 50px;
  height: 100%;
  background-color: $backgroundColor;
  right: 0;
  transition: .3s;

  &:hover,
  &:active,
  &:focus {
    transition: .3s;
    background-color: darken($color: $backgroundColor, $amount: 15%);
  }

  img {
    width: 50%;
  }
}