.tabs {}

.container {}

.tabs__block {}

.tabs__header {
  margin-bottom: 50px;
}

.tabs__header-list {
  display: flex;
  justify-content: center;
}

.tabs__header-item {
  position: relative;
  @include adaptiv-font(15, 14);
  text-transform: uppercase;
  color: $textColor;
  font-weight: 300;
  cursor: pointer;

  &.active {
    color: $hoverColor;

    &::after {
      background-color: $hoverColor;
    }
  }

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: transparent;
    bottom: -5px;
    left: 0;
    transition: .3s;
  }

  &:hover,
  &:active,
  &:focus {
    transition: .3s;
    color: $hoverColor;

    &::after {
      background-color: $hoverColor;
      transition: .3s;
    }
  }

  &+& {
    margin-left: 30px;
  }
}

.tabs__content {}

.tabs__content-item {
  display: none;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 992px) {
    flex-wrap: wrap;
    overflow: unset;
  }

  &.active {
    display: flex;
  }

  .card {
    min-width: 250px;
    width: 250px;

    @media (min-width: 992px) {
      width: 33.33%;
    }

    @media (min-width: 1200px) {
      width: 25%;
    }
  }
}